# docker-compose.override.yml can be ussed locally for some overrides if it's required
version: '3'

services:
  api:
    build:
      context: api/.
      dockerfile: Dockerfile.dev
      args:
        DEBUG_PORT_NAME: 9228
    command: ["/bin/sh", "-c", "yarn && yarn start:debug"]
    ports:
      - 9228:9228
